<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.mapper.MemberMapper">
 	<sql id="selectMember">
 		select id,password,name,address from security_member
 	</sql>
 	
 	<select id="getAddressList" resultType="string">
 		select distinct address from security_member
 	</select>
 	<select id="findMemberListByAddress" resultType="MemberVO">
 		select id,name from security_member
 		where address=#{value}
 	</select>
 	<!-- <select id="login" resultType="MemberVO" parameterType="MemberVO">
 		<include refid="selectMember"></include>
 		where id=#{id} and password=#{password}
 	</select> -->
 	<select id="getMemberCount" resultType="int">
 		select count(*) from t_member
 	</select>
 	<update id="updateMember" parameterType="MemberVO">
		update t_member set memberPassword=#{memberPassword},memberName=#{memberName},memberAddress=#{memberAddress}
		where memberId=#{memberId}
	</update>
	<insert id="registerMember" parameterType="MemberVO">
		insert into t_member
		values(#{memberId},#{memberName},#{memberPassword},#{memberAddress}, 0,'어렵다', '사진', 1, '010-1234-5678')
	</insert>
	<select id="idcheck" resultType="int">
		select count(*) from t_member where memberId=#{value}
	</select>
	<!--  -->
	<insert id="registerRole" parameterType="authority">
		insert into AUTHORITY values(#{username},#{authority})
	</insert>
	<!-- Spring Security에서 로그인 인증시 사용 : 
	      사용가능한(enabled 1) 계정일 경우만 조회. 
	 -->
	<select id="findMemberById" resultType="MemberVO">
 		SELECT	*
		FROM	t_member
		WHERE 	memberId=#{value}	
		AND		enabled=1 		
 	</select>
	<!-- Spring Security에서 권한 체크를 위해 사용 -->
	<select id="findAuthorityByUsername"  resultType="authority">
		SELECT	memberId, authority
		FROM	authority
		WHERE	memberId=#{username}
	</select>
</mapper>










